body {
  align-items: center;
  text-align: center;
  background-color: #900;
}

#calculator {
  margin: 3em auto;
  background: #ddd;
  box-shadow: 3px 9px 12px 5px #111;
  display: grid;
  width: 400px;
  height: 600px;
  /* grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 80px); */
}

.button {

  min-height: 5vw;
  min-width: 5vw;
  padding: 10px;
  margin: 10px;

}
